@{
    Layout = "_Layout";
}
<html>

<body>
    <h1>Welcome to your Music Organizer!</h1>
    <h3><a href='/albums'>View your albums</a></h3>
    <h3><a href='/albums/new'>Add a new albums</a></h3>
</body>

</html>