@{
    Layout = "_Layout";
}

<h1>Add an album</h1>
<p>Add an album here:</p>

<form action="/albums" method="post">
    <label for="albumName">Album name</label>
    <input id="albumName" name="albumName" type="text">
    <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/album">Back to albums.</a></p>
@* form to create new parentobject *@