@using MusicOrganizer.Models;

  @{
  Layout = "_Layout";
  }

  <h3>Here are all the Artists in this Album:</h3>

  <ol>
  @foreach (Artist artist in @Model["artist"])
  {
  <li><a href='/albums/@Model["album"].Id/artists/@artist.Id'>@artist.ArtistName</a></li>
  }
  </ol>

  <p><a href='/albums/@Model["album"].Id/artists/new'>Add a new artist</a></p>
  <p><a href='/albums'>Return to album list</a></p>
  <p><a href='/'>Return to Main Page</a></p>

