@{
    Layout = "_Layout";
}
<h1>Add a new Artist to @Model.AlbumName</h1>

<form action="/albums/@Model.Id/artists" method="post">
    <input id="albumId" name="albumId" type="hidden" value="@Model.Id">
    <label for="artistName">Artist Name</label>
    <input id="artistName" name="artistName" type="text">
    <button type='submit'>Add Artist</button>
</form>