@{
    Layout = "_Layout";
}
<h1>Album List Artist Details:</h1>

<h2>@Model["artist"].Description</h2>
<h3>Album: @Model["album"].Name</h3>

<a href='/albums/@Model["album"].Id/artists/new'>Add another artist</a>
<a href='/albums'>View All albums</a>
